@page "/edit-inventory/{invId:int}"
@using System.Threading.Tasks

@inject IViewInventoryByIdUseCase ViewInventoryByIdUseCase;
@inject IEditInventoryUseCase EditInventoryUseCase;
@inject NavigationManager NavigationManager;

<h3>Edit Inventory - @inventory.InventoryName</h3>
<br />
<br />

@if (this.inventory is not null)
{
    <EditForm Model="inventory" FormName="formInventory" OnValidSubmit="Update">
        <!-- Display Error message -->
        <!-- Enable annotations -->
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <!-- Add ValidationSumamry -->
        <ValidationSummary></ValidationSummary>

        <!-- Add a Hidden field so the form so it can post back the id to update the inventory correctly -->
        <InputNumber @bind-Value="inventory.InventoryId" hidden></InputNumber>

        <div class="form-group">
            <label for="name">Inventory Name</label>
            <InputText id="name"
                       @bind-Value="inventory.InventoryName"
                       class="form-control">
            </InputText>
            <!-- Add validation per field -->
            <ValidationMessage For="() => inventory.InventoryName"></ValidationMessage>
        </div>

        <div class="form-group">
            <label for="quantity">Quantity</label>
            <InputNumber id="quantity"
                         @bind-Value="inventory.Quantity"
                         class="form-control">
            </InputNumber>
            <ValidationMessage For="() => inventory.Quantity"></ValidationMessage>
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <InputNumber id="price"
                         @bind-Value="inventory.Price"
                         class="form-control">
            </InputNumber>
            <ValidationMessage For="() => inventory.Price"></ValidationMessage>
        </div>

        <br />
        <button type="submit" class="btn btn-primary"> Update </button>
        <a href="/inventories" class="btn btn-danger"> Cancel </a>
    </EditForm>
}

@code {

    [Parameter]
    public int InvId { get; set; }

    [SupplyParameterFromForm]
    private Inventory? inventory { get; set; }

    //This happens after the event reeceive a parameter
    protected override async Task OnParametersSetAsync()
    {
        this.inventory ??= await ViewInventoryByIdUseCase.ExecuteAsync(this.InvId);
    }

    private async Task Update()
    {
        await EditInventoryUseCase.ExecuteAsync(inventory);
        NavigationManager.NavigateTo("/inventories");
    }

}
