

@inject NavigationManager Nav


@if(this.Inventory is not null)
{
    <tr>
        <td>@Inventory.InventoryName</td>
        <td>@Inventory.Quantity</td>
        <td>@Inventory.Price</td>
        <td>
            <a href="/edit-inventory/@Inventory.InventoryId" class="btn btn-light"> Edit </a>
        </td>
    </tr>
}

@code {

    [Parameter]
    public Inventory? Inventory { get; set; }

}
